target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
OOP-Project.iml

# Exclude eclipse stuff
\.settings/

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

# Intelij ignores
client.iml.idea
client.ideaa
\.idea/
