/*Self made styleClass*/
.AnchorPane {
    -fx-background-color: #ffffff;
    -fx-border-color: #FF0000;
    -fx-border-width: 2px;

}

.button {
    -fx-background-color: #E57373;
}

.button:pressed {
    -fx-translate-y: 1px;
}

/*Self made styleClass*/
.Pane {
    -fx-background-color: #EF9A9A;
    -fx-border-color: #0000;
    -fx-smooth: clear;
}

.titled-pane > * {
}

.titled-pane > .title {
    -fx-background-color: #EF9A9A;
}

.titled-pane > .content {
    -fx-background-color: #ffffff;
}

.label {
    -fx-pref-height: 40px;
    -fx-text-fill: black;
}

/*Self made styleClass*/
.VBox {
    -fx-pref-width: 175px;
}

/*Self made styleClass*/
.EVBox {
    -fx-background-color: #EF9A9A;
    -fx-pref-width: 200;
}

.scroll-pane {
    -fx-background: none;
    -fx-pref-width: 205;
}
