@import url('https://fonts.googleapis.com/css?family=Montserrat');

#anchor {
    -fx-border-color: red;

    -fx-border-width: 2;


}

#label {
    -fx-font-size: 40;
    -fx-font-family: Montserrat;
}