#sidebarPane {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-cursor:hand;
}

/*#actionSidebar > * {*/
    /*-fx-background-color:  #F28F3B;*/
    /*-fx-border-color: black;*/
/*}*/

/*#scoreSidebar > * {*/
    /*-fx-background-color:  #F28F3B;*/
    /*-fx-border-color: black;*/
/*}*/

/*#mailSidebar > * {*/
    /*-fx-background-color:  #F28F3B;*/
    /*-fx-border-color: black;*/
/*}*/