#profileSidebar > * {
    -fx-pref-height: 30px;
}

#actionSidebar > * {
    -fx-pref-height: 30px;
}

#mailSidebar > * {
    -fx-pref-height: 30px;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: red;
}

.button:pressed {
    -fx-translate-y: 1px;
}

#sidebarPane {
    -fx-background-color: white;
}

#changePane {
    -fx-background-color: white;
}